<a href='/events'> Home </a><br><br>
<h1>Edit Event</h1>
<form method="post" action="/events/<%= event.id %>">
 <input type="hidden" name="_method" value="put">
 <div>
  <label for="event_title">Event</label><br>
  <input type="text" id="event_title" name="title" value="<%= event.title%>" /><br><br>
 <div>
  <label for="event_description">Description</label><br>
  <textarea id="event_description" name="description" ><%=event.description %></textarea>
 </div><br><br>
 <div>
   <label for="event_start">Start</label>
   <input type="date" id="event_start" name="starts_at" value="<%= event.starts_at %>" />
  </div>
  <br><br>
  <div>
   <label for="event_end">End</label>
   <input type="date" id="event_end" name="ends_at" value="<%= event.ends_at %>" />
  </div>
  <br>
  <div>
   <input type='submit' value='submit' />
  </div>
</form>